body {
    background-image: url("./pictures/backgroundimg.png");
    min-height: 100vh;
    display: flex;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    
}

.screen {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: dotted 2px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.humanScore, .alienScore {
    width: 55px;
    height: 75px;
    border: solid 1px yellow;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.score {
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.content {
    display: flex;
    column-gap: 20px;
    
}

.humanText, .alienText {
    color: white;
    font-weight: 600;
    margin-top: 5px;
}

.alien {
    text-align: center;
}
.human, .alien {
    margin-top: 10px;
}

.columnA, .columnB {
    width: 50px;
    height: 50px;
    border: solid 2px white;
}

.scoreboard {
    max-width: 300px;
    flex-direction: column;
    margin: 5px 5px 0px 5px;
    
    
}

.base {
    display: flex;
    justify-content: space-between;
}

@keyframes slideleft {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 10%;
    }
}

.header {
    animation-duration: 2s;
    animation-name: slideleft;
}



.right {
    color: white;
    flex: 1 0 65%;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 0 0 70%;
    width: 300px;
    align-items: center;
    row-gap: 15px;
    margin-top: 50px;

    
}

.left {
    display: flex;
    flex-direction: column;
    flex: 0 0 35%;
    row-gap: 40px;
    display: none;
}

#rock, #paper, #scissors {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

#rock {
    background-image: url("./pictures/rock.jpg");
    background-size: 100%;
}

#paper {
    background-image: url("./pictures/paperplane.png");
    background-size: 100%;
}

#scissors {
    background-image: url("./pictures/scissors.png");
    background-size: 100%;
}

    

.start {
    align-self: center;
    margin: auto;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: solid 2px gold;
    background-color: rgba(221,215,215,0.4);
    font-size: 36px;
    animation-duration: 2s;
    animation-name: slideleft
}

